h1{
    margin: 70px 0 100px 0;
    margin-left: 100px;
}

form{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-left: 100px;
}
form .input_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 8px;
}

form .input_container > input {
    width: 50%;
    background: transparent;
    border: none;
    border-bottom: 2px solid greenyellow;
    padding: 0 0 10px 0;
    color: white;
}


form .checkbox{
    display: flex;
    gap: 10px;
}

form .checkbox a{
    text-decoration: none;
    transition: 0.3s all ease;
    color: white;
}

form .checkbox a:hover{
    text-decoration: underline;
}

form .button a{
    text-decoration: none;
    transition: 0.3s all ease;
    color: white;
}

form .button a:hover{
    text-decoration: underline;
}

form .button{
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 0 0;
}


form .button button{
    padding: 10px 40px;
    background-color: #98fb98;
    border-radius: 40px;
    color: white;
    transition: 0.3s all ease;
}

form .button button:hover{
    background-color: #50C878;
}